{% extends 'base.html' %}

{% block title %}Create Invoice{% endblock title %}

{% block body %}

<div class="container row p-4 m-auto text-center">

    <div class="container col-6  shadow-lg px-5 ">
        <div><h2><i><b>1st Step - Add Client Details</b></i></h2></div>

        <form method="Post">
            {% csrf_token %}
            {{client_form}}

            <button type="submit" class="btn btn-success">Save</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>

    <div class="container col-6 shadow-lg">
        <div><h2><i><b>2nd Step - Add Services</b></i></h2></div>
        <form method="Post">
            {% csrf_token %}
            {{services_form}}

            <button type="submit" class="btn btn-success">Save</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>

</div>

<hr>

{% endblock body %}